body {
  text-align: center;
}
h1 {
  color: white;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: black;
  /*background-color: white;*/
}

ul {
  list-style: none;
  display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


#linkedin, #github {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

li, a {
  display: inline;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

img {
  border-radius: 10%;
  border: solid black 30px;
  height: 250px;
  width: 150px;
  background-color: white;
  position: relative;
  left: 100px;
  top: 100px;
}

p, h2 {
  color: white;
}


/*@media query*/
